.product-card{
    padding: 0 1rem;
}
.product-card h4{
    font-size: 20px !important;
    font-weight: 700;
}
.product-card span{
    font-size: 13px !important;
    font-weight: 400 !important;
}
.details{
    width: 75% !important;
}
.price{
    font-size: 20px !important;
    margin: auto !important;
    width: 20% !important;
    color: #FDB361 !important;
    text-align: end;
}


@media (max-width:576px) {
    .price{
        font-size: 16px !important;
    }
    .product-card{
        box-shadow: 0 4px 8px #50505030 !important;
        border-radius: 20px;
        background-color: #21212150;
        width: 98% !important;
        box-shadow: 0 0 10px #eeeeee10 !important;
    }
}