.header-title{
    width: 93% !important;
    margin: auto  !important;
}
.header-title {
    background-color: #055f5f;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px #eeeeee20;
    box-sizing: border-box;
    margin: auto inherit !important;
}

@media (max-width:576px) {
    .header-title h1{
        font-size: 22px !important;
    }
}