.footer{
    background-color: #055f5f;
    box-shadow: 0 -2px 8px 2px #eeeeee10;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20px !important;
}
.message{
    font-size: 11px !important;
}
.icons a{
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.icons a:hover{
    filter: brightness(.8);
    transform: scale(1.04);
}
.click-to-loc {
    color: #FDB361 !important;
}