.footer{
    background-color: #055f5f;
    box-shadow: 0 -2px 8px 2px #eeeeee10;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.icons a{
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.icons a:hover{
    filter: brightness(.8);
    transform: scale(1.04);
}